<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="icon" href="data:," />
    <HeadOutlet @rendermode="RenderMode.InteractiveServer" />
</head>
<body>
    <Routes @rendermode="RenderMode.InteractiveServer" />
    <div id="blazor-error-ui">
        Ocorreu um erro não tratado.
        <a href="." class="reload">Recarregar</a>
        <span class="dismiss">🗙</span>
    </div>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
